<div class="container">
    <div class="row justify-content-center align-items-center mb-4 gap-3 divi">
        <div class="col text-center">
            <h1>Lite Messenger</h1>
            <p>
                Welcome to Lite Messenger! Please log in or register to
                continue.
            </p>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col">
                <app-login />
            </div>
            <div class="col-auto">
                <p>ou</p>
            </div>
            <div class="col">
                <app-register />
            </div>
        </div>
    </div>
</div>
