**/.git
**/.gitignore
**/.vs
**/.vscode
**/node_modules
**/dist
**/.angular
**/*.md
**/*.yml
**/*.yaml
**/Dockerfile*
**/.dockerignore
**/.env
**/.env.*
**/coverage
**/e2e
**/src/main.ts
**/src/test.ts
**/karma.conf.js
**/tsconfig*.json
**/angular.json
**/.editorconfig
**/.prettierrc
**/eslint.config.js
