<aside class="sidebar">
    <div class="user-profile">
        <div class="avatar online">
            {{ username().charAt(0).toUpperCase() }}
        </div>
        <div class="user-info">
            <span class="username">{{ username() }}</span>
            <span class="status">Online</span>
        </div>
    </div>

    <div class="users-list">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="m-0">Contatos</h3>
            <button class="btn btn-sm" (click)="addContact()">
                Add. contato
            </button>
        </div>
        <ul>
            @for (chat of chats(); track chat.id) {
                @for (user of chat.users; track user.id) {
                    @if (user.id !== currentUser()?.id) {
                        <li
                            class="user-item"
                            [class.active]="currentChatId() === user.id"
                        >
                            <a routerLink="/chat/{{ chat.id }}">
                                <div
                                    class="user-avatar"
                                    [class.online]="user.status === 1"
                                    [class.offline]="user.status !== 1"
                                >
                                    {{
                                        (user.name || '')
                                            .charAt(0)
                                            .toUpperCase()
                                    }}
                                </div>
                                <span class="user-name">{{ user.name }}</span>
                            </a>
                        </li>
                    }
                }
            }
        </ul>
    </div>
</aside>
