<aside class="sidebar">
    <div class="user-profile">
        <div class="avatar">
            {{ username().charAt(0).toUpperCase() }}
        </div>
        <div class="user-info">
            <span class="username">{{ username() }}</span>
            <span class="status">Online</span>
        </div>
    </div>

    <div class="users-list">
        <h3>Usuários Online</h3>
        @if (onlineUsers(); as users) {
            <ul>
                @for (user of onlineUsers(); track user.id) {
                    <li class="user-item">
                        <a routerLink="/chat/{{ user.id }}">
                            <div class="user-avatar">
                                {{ (user.name || '').charAt(0).toUpperCase() }}
                            </div>
                            <span class="user-name">{{ user.name }}</span>
                        </a>
                    </li>
                }
            </ul>
        } @else {
            <p class="no-users">Nenhum usuário online</p>
        }
    </div>
</aside>
